body{
  background-image: url(../../../public/img/cover2.jpg);
  max-height: 100vh;
  width: 100%;
  overflow: hidden; /*lock page scroll*/
}

.title {
  font-size: 50px;
  font-weight: bold;
  color: #f7f7f7;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-left: 90px;
}

.main-container{
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  padding: 20px;
  height: 100vh;
  width: 100%;
  
}
.expense-tracker, .transactions {
  padding: 20px;
  width: 600px;
  height: 400px;
  overflow: auto;
  border: none;
  border-radius: 10px;
  color: #f7f7f7;
  background-color: #111;
  margin-bottom: 50px;
}

.expense-tracker{
  display: flex;
  justify-content: center;
}

.expense-tracker button {
  margin-left: 10px;
}

.profile {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.name {
  font-size: 20px;
  font-weight: bold;
  color: #f7f7f7;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /* margin-left: 90px; */
}

.profile-photo {
  width: 50px;
  border-radius: 50%;
  border: 2px solid #111;
  margin-left: 5px;
}

.sign-out-button {
  border: none;
  /* margin-top: 20px; */
  width: 70px;
  background: #f7f7f7;
  border-radius: 10px;
  color: #111;
  font-size: 12px;
  font-weight: bold;
  padding: 2px;
}

.sign-out-button:hover {
  background: #fff;
  color: #111;
  cursor: pointer;
}

input{
  border-radius: 10px;
  height: 20px;
}

.input-1, .input-2{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.input-2{
  margin-right: 100px;
}

.radio-input:hover{
cursor: pointer;
}

.summary{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;

}

.income{
  color: green;
  font-size: 20px;
}

.expenses{
  color: red;
  font-size: 20px;
}

.balance{
  display: flex;
  align-items: center;
  gap: 20px;
  color: green;
  font-size: 25px;
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.add-transaction-btn{
  display: flex;
  align-items: center;
  gap: 2px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  color: #111;
  font-weight: bold;
  padding: 5px;
}

.add-transaction-btn:hover{
  cursor: pointer;
}


