.login-page{
  width: 100vw;
  height: calc(100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f7f7f7;
}

.login-page h1 {
  font-size: 100px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.login-page p {
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.login-with-google-btn {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  cursor: pointer;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 500;
  background-color: white;
}
